.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  flex-direction: column;

}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  text-align: start;
  display: block;
  width: 100%;
  word-break: break-all;
  white-space: pre-wrap;
}

.a {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.b {
  font-weight: 600;
}